@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/oswald-v40-latin-regular.woff2) format('woff2');
}

/* HAMBURGER MENU */
body {
  height: 100%;
}

#__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.non-scrollable {
  overflow: hidden;
}

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dark .hamburger__top-bun,
.dark .hamburger__bottom-bun {
  background: #eee;
}

.hamburger:hover [class*='-bun'] {
  background: #333;
}

.dark .hamburger:hover [class*='-bun'] {
  background: #aaa;
}

.hamburger__top-bun {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.open {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  -webkit-transform: rotate(45deg) translateY(0px);
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  -webkit-transform: rotate(-45deg) translateY(0px);
  transform: rotate(-45deg) translateY(0px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Nav Styling on Mozilla Firefox (backdrop filter not supported) */
.dark body {
  background-color: #111 !important;
  color: #fff !important;
}

/* PROJECT IMG */
.project__img img {
  border-radius: 0.5rem !important;
  overflow: hidden;
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.project__img:after {
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(122, 84, 84, 0.2);
}

.project__container:hover .project__img:after {
  background: rgba(122, 84, 84, 0.15);
}

.project__img:hover img {
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.profile__img img {
  border-radius: 50% !important;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.illustration__img {
  max-width: 80vw;
}

.illustration__img img {
  border-radius: 0.5rem !important;
  overflow: hidden;
}

@media (hover: hover) {
  .illustration__img:after {
    border-radius: 0.5rem !important;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .illustration__img:hover:after {
    background: rgba(0, 0, 0, 0.35) 100%;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .project__img img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.basicLightbox {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox__placeholder {
  max-width: 100%;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}

.basicLightbox__placeholder p {
  max-width: 80vw;
  margin: 0 auto;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}

.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.basicLightbox--visible .basicLightbox__placeholder {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.basicLightbox__placeholder .lightbox__img {
  max-width: 80vw;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.basicLightbox__placeholder img {
  max-width: 80vw;
  max-height: 80vh !important;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.basicLightbox__placeholder .title {
  padding: 0.6rem 0 0.3rem;
  border-bottom: 3px solid #3b82f6;
  font-size: 2rem;
  font-weight: 600;
  color: #eee;
  line-height: 1;
}

.basicLightbox__placeholder .hint {
  color: #999;
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose .token.comment,
.prose .token.prolog,
.prose ..token.doctype,
.prose ..token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.prose ..token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.prose ..token.property,
.prose ..token.tag,
.prose ..token.boolean,
.prose ..token.number,
.prose ..token.constant,
.prose ..token.symbol,
.prose .token.deleted {
  @apply text-green-500;
}

.prose ..token.selector,
.prose ..token.attr-name,
.prose ..token.string,
.prose ..token.char,
.prose ..token.builtin,
.prose ..token.inserted {
  @apply text-purple-500;
}

.prose .token.operator,
.prose .token.entity,
.prose .token.url,
.prose .language-css .token.string,
.prose .style .token.string {
  @apply text-yellow-500;
}

.prose .token.atrule,
.prose .token.attr-value,
.prose .token.keyword {
  @apply text-blue-500;
}

.prose .token.function,
.prose .token.class-name {
  @apply text-pink-500;
}

.prose .token.regex,
.prose .token.important,
.prose .token.variable {
  @apply text-yellow-500;
}

.prose code[class*='language-'],
.prose pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*# sourceMappingURL=globals.css.map */
